<div class="navbar-wagon sticky">
  <!-- Logo -->
  <div>
    <a id="logo" href="./index.html">スマイル歯科医院</a><br>
    <span style="font-size: 14px;color: #845732;">鹿児島市永吉にある歯医者さん「スマイル歯科医院」</span>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <span style="font-size: 14px;color: #845732;">
    ご予約・お問い合わせはこちらから<br>
    <a id="logo" href="099-285-8005" class="navbar-wagon-item navbar-wagon-link">099-285-8005</a></span>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <!-- <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about">コピーライターとは</a></li>
        <li><a href="./detail">業務内容</a></li>
        <li><a href="./profile">自己紹介</a></li>
        <li><a href="./work">制作事例</a></li>
      </ul>
    </div>
  </div> -->
</div>
