#logo {
  text-decoration: none;
  color: $orange;
  font-size: 25px
}

#logo:hover{
ã€€text-decoration: none;
}

/* Main navbar */
.navbar-wagon {
  transition: all 0.3s ease;
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  font-weight: 500;
  font-size: 22px;
  font-weight: bold;
  // opacity: 0.9;
}

/* Right section */
// .navbar-wagon-right {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // color: orange;
// }

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  margin: 10px;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #FFFFFF;
  font-size: 14px;
  padding: 30px;
}

// .navbar-wagon-link:hover {
//   background-color: black;
//   color: white;
// }

.fa-bars {
  color: black;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #554F48;
  border-color: #FFFFFF;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #554F48 !important;
  font-weight: bold !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 5px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: red !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 5px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.sticky{
  box-shadow: 0 2px 8px rgba(30,30,80,.3);
  left: 0;
  line-height: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 24;
}
