.home-pic {
  background-image: url("/images/top.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

.content-box{
  margin: 100px;
  padding: 40px;
}
