<div id="about">
  <div class="about-pic">
    <p>⾔葉のPOWERで会社を変える</p>
  </div>

  <div class="container">
    <div style="padding: 60px 0 30px;font-size: 23px; font-weight: bold;"> あなたの会社にコピーライターを</div>

    <div class="greeting" style="background-color: #EFEFEF; padding: 20px;">
      <p style="font-weight: bold;margin: 20px;">あなたの会社に、全社員共通の「言葉」はありますか</p>
      <p style="margin: 20px;">企業の理念やビジョン、トップの夢や思い。 そして、現場で働く一人ひとりのスタッフの働きがいや仕事の歓び。<br>       「トップから」と「現場から」の “生の声” を、真ん中でつなぐのも「言葉」の力です。<br><br>
      たとえば、あのホテル「ザ・リッツ・カールトン」の有名なモットー<br>
      「紳士淑女をおもてなしする私たちも紳士淑女です」のように。<br><br>
      トップも、現場のスタッフも、ともに「共感できる言葉」で語られた理念やビジョンが、 企業活動を力強く推し進めるエネルギー源となります。</p>
    </div>

    <div>
      <p style="font-weight: bold;margin: 20px;font-size: 20px; padding-top: 20px;">もうひとつの「働き⽅改⾰」へ</p>
       <p style="margin: 20px;">いま、国を挙げて「働き方改革」への取り組みが注目されていますが、<br>そこで課題となるのは、社員の契約条件や待遇の改善、就業時間の是正だけではありません。<br>
       たとえば、どうすれば社員がやる気とやりがいを持ってイキイキと働くことができるか、といった一人ひとりの「マインド」や「モチベーション」の部分も、生産性の向上を目指すために、忘れてはならない重要なテーマです。</p>
    </div>

      <div style="padding-bottom: 70px;">
      <p style="font-weight: bold;margin: 20px;font-size: 20px; padding-top: 20px;">いま、なぜ会社にコピーライターか</p>
       <p style="margin: 20px;">マインドの部分の改革には、まず会社の「目的や存在意義」、「働くことの意味」をわかりやすく明文化した、全社員で共有できる理念を持つこと。<br>
       企業の理念やビジョンを社員全員が理解し、自らの価値観に照らして納得し、受け容れ、共感できるようにすることが大切です。 そして、そのカギとなるのが「言葉」です。会社の原点とも言うべき企業としての理念や志を、コピーライターと共に再確認し、 社内外の多くの人にむけて、心の琴線に触れる「言葉」で浸透させていきませんか。</p>
    </div>

  </div>
</div>
