<div id="detail" style="background-color: #EFEFEF">
  <div class="detail-pic">
    <p>業務内容</p>
  </div>

  <div class="container">
    <div class="greeting" style="background-color: white; margin: 50px 20px; padding: 20px;">
      <p style="font-weight: bold;margin: 20px;">広告や販促ツール等の企画・
        コピー作成など、広告・宣伝に関する制作全般</p>
      <p style="margin: 20px;">◆製品カタログ・パンフレット・マニュアル・広告・ホームページ等の企画・制作＆ コピー作成<br>
      クルマ関係、オーディオ＆ビジュアル機器関係、IT関係、建築・住宅関 etc.,<br>       「トップから」と「現場から」の “生の声” を、真ん中でつなぐのも「言葉」の力です。<br></p>
    </div>

      <div class="greeting" style="background-color: white; margin: 50px 20px; padding: 20px;"><p style="font-weight: bold;margin: 20px;">  企業情報としての企業理念ビジョン等の構築サポート、及びクレド（企業の信条）・会社案内等の制作</p>
      <p style="margin: 20px;"> ◆企業理念・ビジョン・行動指針を含むクレド等の構築サポート＆コピー作成<br>
        会社案内・事業案内・入社案内、社員教育ツール等の企画・制作＆コピー作成<br>あらゆる業種業態のクレド関係、会社案内、学校案内など<br><br></p>
    </div>

</div>
