<div id="home">

    <div class="home-pic">
    </div>

    <div class="tab">
      <%= partial "layouts/menu" %>
    </div>

    <div style="padding:20px;background-color: white;">
      <div class="content-box" style="background-color: #FCF3E3;">
        <span style="font-size: 18px;font-weight: bold;color: #845732;text-align: center;">スマイル歯科医院　院長の新留隼人です</span><br><br>
        <p>あなたは、「痛みだけを止めてほしい」「歯を抜いてほしい」と、痛みが我慢できなくなってから仕方なく歯医者さんに行っていませんか？痛くなったら、歯医者さんに行って治してもらえばいいと、簡単に考えていませんか？あなた自身のことなのに、自分のことを粗末にしてしている人がとても多いような気がします。歯科医は患者さんの歯の痛みをとり、削っては詰め、抜いては入れることの繰り返しです。これでは壊れていく患者さんに助力しているのと同じことです。<br><br>当医院では、一本の歯が痛んだとき、そして一本の歯を抜くとき、患者さんに「どうしてそうなってしまうのか、それが将来にどんな結果になるのか」ということに少しでも何か感じて、気付いてもらいたいという想いでカウンセリングをさせていただいております。</p>
      </div>
    </div>

    <div style="padding:20px;background-color: #FCF3E3;">
      <div class="content-box" style="background-color: white;">
        <span style="font-size: 18px;font-weight: bold;color: #845732;text-align: center;">当院の特長</span><br><br>
        <p>今まで日本の歯科医は、歯を削って詰める、かぶせる。歯を抜いて入れ歯を作るのが仕事だと思われていました。要するに、全然体にいいことをしてきていなかったのです。私はできるだけ歯を残したいし、患者さんの口の中を守りたい。それが本来の歯科医療のあり方だと考えています。天然の自分の歯に勝るものはありませんし、口の健康が崩れてしまえば、全身の健康にもいい影響はありません。そのことを一番よく知っている歯科医が、病気にならない生き方＝「予防」を実践していかなくてはいけません。<br><br>患者様が病気になったり、歯周病やむし歯になって歯を失うことがないように、予防という考え方やライフスタイルをとりいれていただきたいと考えております。</p>
      </div>
    </div>

    <div style="padding:20px;background-color: white;">
      <div class="content-box" style="background-color: #FCF3E3;">
        <span style="font-size: 18px;font-weight: bold;color: #845732;text-align: center;">歯科治療理念</span><br><br>
        <p>虫歯、歯周病は生活習慣病です。<br>ご家庭でのきちんとした生活習慣が良好なお口の環境をつくります。患者様には、歯科医院に通っていただくことで、健康な口腔内環境をつくり全身的にも健康になっていただきたいと考えております。日本の健康保険制度で受けられる医療内容に比べて、世界の歯科医療はかなり進歩しています。そのため、我々歯科医が現在の医療水準で理想的に治療しようと思っても、日本の保険制度の範疇では治療内容にかなりの制限があり、治療に限界があります。私は自分自身が患者だった場合にして欲しい治療を、患者様にもお勧めしたいと考えています。不幸にして大きな虫歯ができたり、歯を失った場合、生体にできるだけ害のない材料、治療法を選択し、より自然で美しく治療をしたいと考えています。<br>私は国内外の研修に積極的に参加し、最先端の医療技術を身につけるよう、歯科医師として常に研鑽しています。本当に歯をきれいにしたい、咬めるようになりたい、という方に持っている技術を最大に発揮して、患者さんの幸福に力添えしたいと思っています。</p>
      </div>
    </div>

</div>
