<div id="profile" style="background-color: #EFEFEF">
  <div class="profile-pic">
    <p>My Profile</p>
  </div>

  <div class="container">
    <div style="padding: 50px 20px 10px;font-size: 23px; font-weight: bold;">斉藤 浩一</div>

  <div class="greeting">
    <p style="margin: 20px;">私は、コピーライターとして、製品やサービスあるいは事業などを訴求・紹介する広告やカタログ・パンフレット、販促ツールなどの企画とコピー制作に携わってきました。長年そうした仕事を続けてきた中で、次第に広告的な表現のおもしろさや、魅力的なフレーズを追求する先に、そもそも企業として目指しているのはどこか、届けたい価値とは何か、といった企業そのものの「志」に思いが向かうようになってきました。企業が提供する製品やサービスはすべて、そうした企業理念や志の上に立って創られ、提供されているからです。</p>

    <p style="margin: 20px;">しかしながら、企業の原点となる企業理念やビジョン、志というものは、厳しい経営環境や忙しい勤務状況の中で、時として顧みられなくなることがあり、昨今の日本を代表するモノづくり企業の相次ぐ不祥事も、 そうした企業の原点や理念への意識の薄れに、関わりがあるように思えてなりません。</p>

    <p style="margin: 20px;">あらゆる企業で「働き方改革」への取り組みが注目されるいま、企業における理念やビジョン、志を、働く一人ひとりの思いと重ね合わせつつ見つめ直し、みんなが共感・共有できてこそ、望ましい新たな働き方が生まれるものと確信します。そのために、コピーライターとして「言葉の力」を信じ、駆使してみたいと考えました。言葉で「志」を明確化し、言葉で「働き方」を変えていく それが、私の新しいテーマです。</p>
  </div>


 　<table border="1" >
  　 <tr>
    　 <th colspan="2" style="text-align: center;background-color: #898C8E;color:white;">今までの経歴</th>
  　 </tr>
  　 <tr>
  　   <td>&nbsp;&nbsp;1975年&nbsp;</td><td>&nbsp;&nbsp;日本大学芸術学部　放送学科卒業後、雑誌編集者、アシスタントコピーライターとして勤務&nbsp;&nbsp;&nbsp;</td>
  　 </tr>
  　 <tr>
  　   <td>&nbsp;&nbsp;1980年&nbsp;&nbsp;</td><td>&nbsp;&nbsp; 株式会社ＴＫＯ（広告制作プロダクション）勤務</td>
  　 </tr>
  　 <tr>
  　   <td>&nbsp;&nbsp;1983年&nbsp;</td><td>&nbsp;&nbsp;株式会社日本デザインセンター勤務</td>
  　 </tr>
     <tr>
  　   <td>&nbsp;&nbsp;1987年&nbsp;</td><td>&nbsp;&nbsp;フリーランスとして、千代田区一番町に「斉藤浩一事務所」設立</td>
  　  </tr>
  　  <tr>
  　    <td>&nbsp;&nbsp;1997年&nbsp;</td><td>&nbsp;&nbsp;千代田区九段南に「有限会社インタースピリッツ」設立</td>
  　  </tr>
  　  <tr>
  　    <td>&nbsp;&nbsp;2005年&nbsp;</td><td>&nbsp;&nbsp;練馬区に事務所を移転</td>
  　  </tr>
　  </table>
  </div>
</div>


