<div id="work" style="background-color: #EFEFEF">
  <div class="work-pic">
    <p>Previous Work</p>
  </div>

  <div class="container">
  <table border="1">
  　 <tr>
    　 <th colspan="2" style="text-align: center;background-color: #898C8E;color:white;">主な制作事例</th>
  　 </tr>
  　 <tr>
  　   <td>&nbsp;&nbsp;&nbsp;トヨタ自動車&nbsp;</td><td>&nbsp;&nbsp;クラウン、センチュリー、カリーナ、スターレットなどのセールスマニュアル等のコピーを制作<br>&nbsp;&nbsp;
レクサスGS、カローラのプレスインフォメーション等のコピーを制作<br>&nbsp;&nbsp;
レクサス 用品カタログ、商用車 プレスインフォメーション、クラウン、エスクァイア等のセールスマニュアルのコピーを制作<br>&nbsp;&nbsp;
エスティマ セールスマニュアル、カローラ カタログのコピーを制作&nbsp;&nbsp;</td>
  　 </tr>
  　 <tr>
  　   <td>&nbsp;&nbsp;&nbsp;ソニー&nbsp;&nbsp;</td><td>&nbsp;&nbsp; 製品カタログ及び広告等のコピーを制作<br>&nbsp;&nbsp;
ビジネス向けVAIO及び電子手帳クリエ等のカタログ・販促ツールのコピーを制作</td>
  　 </tr>
  　 <tr>
  　   <td>&nbsp;&nbsp;&nbsp;富士通&nbsp;</td><td>&nbsp;&nbsp;製品カタログ及び広告等のコピーを制作</td>
  　 </tr>
     <tr>
  　   <td>&nbsp;&nbsp;&nbsp;松下電器&nbsp;</td><td>&nbsp;&nbsp;製品カタログ及び広告等のコピーを制作</td>
  　  </tr>
  　  <tr>
  　    <td>&nbsp;&nbsp;&nbsp;ホンダ&nbsp;</td><td>&nbsp;&nbsp;カーオーディオ_カタログ、和光_入社案内、トヨタ_カタログ等のコピーを制作</td>
  　  </tr>
  　  <tr>
  　    <td>&nbsp;&nbsp;&nbsp;JR東日本&nbsp;</td><td>&nbsp;&nbsp;キャンペーンパンフレット及び観光ポスター等のコピーを制作</td>
  　  </tr>
       <tr>
  　   <td>&nbsp;&nbsp;&nbsp;欧州車メーカー&nbsp;&nbsp;</td><td>&nbsp;&nbsp; プレスインフォメーション、セールスマニュアルの企画・コピーを制作</td>
  　 </tr>
  　 <tr>
  　   <td>&nbsp;&nbsp;&nbsp;積水ハウス&nbsp;</td><td>&nbsp;&nbsp;新聞広告（地方紙）のコピーを制作</td>
  　 </tr>
     <tr>
  　   <td>&nbsp;&nbsp;&nbsp;日立製作所&nbsp;</td><td>&nbsp;&nbsp;製品カタログ及び広告等のコピーを制作</td>
  　  </tr>
  　  <tr>
  　    <td>&nbsp;&nbsp;&nbsp;ベンツ&nbsp;</td><td>&nbsp;&nbsp;製品カタログ及び広告等のコピーを制作</td>
  　  </tr>
  　  <tr>
  　    <td>&nbsp;&nbsp;&nbsp;保険会社&nbsp;</td><td>&nbsp;&nbsp;企業スローガン構築に参画</td>
  　  </tr>
       <tr>
  　   <td>&nbsp;&nbsp;&nbsp;輸入車販売会社&nbsp;&nbsp;</td><td>&nbsp;&nbsp; 「クレド」構築に参画〜企画・コピーを制作</td>
  　 </tr>
  　 <tr>
  　   <td>&nbsp;&nbsp;&nbsp;日立ハイテクサイエンス&nbsp;</td><td>&nbsp;&nbsp;製品カタログのコピーを制作</td>
  　 </tr>
     <tr>
  　   <td>&nbsp;&nbsp;&nbsp;積新日鉄住金エンジニアリング&nbsp;</td><td>&nbsp;&nbsp;製品カタログ・ポスターのコピーを制作</td>
  　  </tr>
  　  <tr>
  　    <td>&nbsp;&nbsp;&nbsp;欧州車メーカー&nbsp;</td><td>&nbsp;&nbsp;セールスマニュアルの企画・コピー制作</td>
  　  </tr>
  　  <tr>
  　    <td>&nbsp;&nbsp;&nbsp;保険会社コールセンター&nbsp;</td><td>&nbsp;&nbsp;「行動指針」の企画・コピー制作 等を手がけ、現在に至る</td>
  　  </tr>
    </table>
  </div>
</div>


